.container-fluid{
    padding: 0;
}
.row{
    
}
.col-12{
    margin-bottom: 30px;
}
.card{
    height: 100%;
}
hr{
    margin-top: 5px;
}
h3{
    text-align: center;
}
input{
    border-radius: 0;
    border: 1px solid #000;
    width: 85%;
    margin-bottom: 10px;
}
header .jumbotron{
    padding: 5px 0;
    border-radius: 0;
    background: #8cb3db;
    color: #fff;
}
footer h5{
    text-align: center;
    font-size: 15px;
    margin: 5px 0;
}