<!doctype html>

<html lang="es">

<head>
    <meta charset="utf-8">

    <title>Nursie Panel de Control</title>
    <meta name="description" content="Página web de control del robot">
    <meta name="JerbBotics" content="myself">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- ROS stuff -->
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
    <script type="text/javascript" src="https://static.robotwebtools.org/ros2djs/current/ros2d.min.js"></script>
    <script type="text/javascript" src="https://static.robotwebtools.org/EaselJS/current/easeljs.min.js"></script>
    <script type="text/javascript"
        src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body class="d-flex flex-column h-100">

    <!-- header of the page -->
    <header class="header">
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Nursie</h1>
                <p>Panel de control</p>
            </div>
        </div>
    </header>

    <!-- main content -->
    <main id="vueApp">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h3>{{ menu_title }}</h3> -->
                            <h3>Conexión a Nursie</h3>
                            <hr>
                            <label>Direccion de Nursie</label>
                            <br>
                            <input type="text" v-model="rosbridge_address" />
                            <br>
                            <button class="btn btn-success" v-if="connected" @click="disconnect">Connected!</button>
                            <button class="btn btn-primary" v-else @click="connect">Connect!</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h2 class="text-center">{{ main_title }}</h2> -->
                            <h3 class="text-center">Posición inicial</h3>
                            <hr>
                            <p>Establecer la posición del robot</p>
                            <div class="row">
                                <div class="col-6">
                                    <label>X</label>
                                    <input type="number" v-model.number="initialPose.position.x"
                                        placeholder="Coordenada X" />
                                </div>
                                <div class="col-6">
                                    <label>Y</label>
                                    <input type="number" v-model.number="initialPose.position.y"
                                        placeholder="Coordenada Y" />
                                </div>
                            </div>
                            <button class="btn btn-success" :disabled="!connected" @click="sendInitialPose">Set</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h2 class="text-center">{{ main_title }}</h2> -->
                            <h3 class="text-center">Destino</h3>
                            <hr>
                            <p>Establecer el destino del robot</p>
                            <div class="row">
                                <div class="col-6">
                                    <label>X</label>
                                    <input type="number" v-model.number="action.goal.position.x"
                                        placeholder="Coordenada X" />
                                </div>
                                <div class="col-6">
                                    <label>Y</label>
                                    <input type="number" v-model.number="action.goal.position.y"
                                        placeholder="Coordenada Y" />
                                </div>
                            </div>
                            <button class="btn btn-success" :disabled="!connected || action.status.status == 1"
                                @click="sendGoal">Set</button>
                            <button class="btn btn-danger" :disabled="!connected || ![1].includes(action.status.status)"
                                @click="cancelGoal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Feedback</h3>
                            <hr>
                            <p>Posición del robot</p>
                            <div>
                                <p>X: {{ action.feedback.position.x }}</p>
                                <p>Y: {{ action.feedback.position.y }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="text-center">Status</h2>
                            <hr>
                            <p>Estado del robot</p>
                            <div>
                                <p>{{ action.status.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center">Máquina de estados</h3>
                            <hr>
                            <p>Controles de la máquina de estados</p>
                            <label for="estados">Seleccionar destino:</label>

                            <select id="estados" class="dropdown" v-model="param_val">
                                <!-- <option disabled value="">Seleccione destino</option> -->
                                <option value="0">Base</option>
                                <option value="1">Mostrador</option>
                                <option value="2">Habitacion 1</option>
                                <option value="3">Habitacion 2</option>
                                <option value="4">Habitacion 3</option>
                                <option value="5">Habitacion 4</option>
                            </select>

                            <button class="btn btn-success" @click="callMoveTo"
                                :disabled="loading || !connected || service_busy">Ir</button>
                            
                            <!-- <span>Seleccionado: {{ param_val }}</span> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="footer mt-auto bg-dark text-light">
        <div class="container">
            <h5>2020 JerbBotics</h5>
        </div>
    </footer>

    <script src="js/main.js"></script>

</body>

</html>